---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
const pageTitle = "<Mukund/> Blog - " + (frontmatter.title || "");
import "../styles/blog.css";
import Blogelement from "../components/Blogelement.astro";
const allPosts = await Astro.glob("../pages/blog/*.md");

export type blogData = {
  frontmatter: {
    layout: string;
    title: string;
    pubDate: Date;
    description: string;
    author: string;
    authorImage?: {
      url: string;
      alt: string;
    };
    image?: {
      url: string;
      alt: string;
    };
    tags?: string[];
    readTime?: string;
  };
};
export const sortPosts = (a: blogData, b: blogData) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  // @ts-ignore
  return dateB - dateA;
};
// @ts-ignore
const posts = allPosts.sort(sortPosts).slice(0, 5);
const url = Astro.props.url;
---

<MainLayout pageTitle={pageTitle}>
  <div
    class="w-full py-2 grid grid-cols-4 justify-center items-start gap-16 lg:p-4"
  >
    <div class="blog px-4 lg:px-8 col-span-4 lg:col-span-3">
      <div class="blog__header space-y-4 text-center p-4">
        <h1 class="lg:text-6xl text-5xl font-extrabold">{frontmatter.title}</h1>
        <h2 class="text-xl lg:text-2xl">{frontmatter.description}</h2>
        <div
          class="flex flex-col md:flex-row gap-6 md:gap-4 w-full justify-center items-center"
        >
          <span class="flex gap-2 items-center">
            {
              frontmatter?.authorImage && (
                <>
                  <img
                    src={frontmatter?.authorImage?.url}
                    alt={frontmatter?.authorImage?.alt}
                    width="50"
                    height="50"
                    class="rounded-full"
                  />{" "}
                </>
              )
            }
            {frontmatter.author}
          </span>
          <span class="text-2xl hidden md:block">·</span>
          <span>{new Date(frontmatter.pubDate).toDateString()}</span>
          {
            frontmatter?.readTime && (
              <>
                <span class="text-2xl hidden md:block">·</span>
                <span class="flex items-center gap-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
                    />
                  </svg>
                  {frontmatter.readTime}
                </span>
              </>
            )
          }
        </div>
      </div>
      <div class="markdown-body blog__data pt-8 border-t px-4">
        <slot />
      </div>
      <div id="disqus_thread" class="pt-16 pb-16"></div>
    </div>
    <div
      class="more_blogs px-4 lg:col-span-1 col-span-4 flex flex-col items-center justify-center gap-4"
    >
      <h1 class="text-4xl lg:text-5xl font-bold">More Blogs</h1>
      <div
        class="grid w-full lg:grid-cols-1 sm:grid-cols-2 items-center gap-4 py-8"
      >
        {posts.map((post) => <Blogelement post={post} />)}
      </div>
    </div>
  </div>
</MainLayout>

<script>
  var disqus_config = function () {
    // @ts-ignore
    this.page.url = window.location.href;
    // @ts-ignore
    this.page.identifier = window.location.pathname;
  };

  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://mukund1606.disqus.com/embed.js";
    // @ts-ignore
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
